- provide(:title, 'Contacts Index')
- content_for :page_header do
  %h1
    %span.header_right About

%p
  Copyright © 2014 Efren Aguirre <skeptoid@gmail.com>
  This work is free. You can redistribute it and/or modify it under the
  terms of the Do What The Fuck You Want To Public License, Version 2,
  as published by Sam Hocevar. See http://www.wtfpl.net/ for more details.
