- content_for :page_header do
  %h1 Sign In

  %nav
    %ul
      %li
        = link_to new_user_path do
          %button.header-btn.btn-1.btn-1c= icon('plus', 'New')
      %li
        = link_to about_path do
          %button.header-btn.btn-1.btn-1c= icon('info-circle', 'About')
