- content_for :page_header do
  %h1 Sign In

  %nav
    %ul
      %li
        = link_to new_user_path do
          %button.btn.btn-1.btn-1c
            %i.fa.fa-plus.in_button
            New Account
      %li
        = link_to about_path do
          %button.btn.btn-1.btn-1c
            %i.fa.fa-info-circle.in_button
            About
