%section{style: 'display:none;', id: 'new_task_form' }
  = simple_form_for(task) do |f|
    %fieldset
      %legend.bold_title New Task
      = f.input :description, input_html: { id: 'regfield' }
      = f.input :deadline, :as => :datetimepicker
    = render partial: 'shared/submit_center', locals: { f: f }

:javascript
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
  