%section{style: 'display:none;', id: 'new_task_form' }
  .row
    = simple_form_for task, html: { class: 'form-inline' } do |f|
      .col-md-12
        = f.input :description, input_html: { id: 'task-description' }
      %br
      .col-md-12
        = f.input :deadline, as: :datetime, ampm: true, minute_step: 15
      %br
      .col-md-2
      .col-md-2#task-submit
        = f.button :submit, class: 'btn-block'
