%section{style: 'display:none;', id: 'new_task_form' }
  = simple_form_for(task) do |f|
    %fieldset
      %legend.bold_title New Task
      = f.input :description, input_html: { id: 'regfield' }
      = f.input :deadline, as: :datetime
      = f.button :submit
