- content_for :page_header do
  %h1 Tasks

  %nav
    %ul
      %li
        = link_to tasks_path do
          %button.header-btn.btn-1.btn-1c
            %i.fa.fa-tasks.in_button
            Pending
      %li
        = link_to completed_tasks_path do
          %button.header-btn.btn-1.btn-1c
            %i.fa.fa-archive.in_button
            Completed
