- content_for :page_header do
  %h1 Tasks

  %nav
    %ul
      %li
        = link_to '#' do
          %button.btn.btn-1.btn-1c#new_task
            %i.fa.fa-plus.in_button
            New
        = link_to tasks_path do
          %button.btn.btn-1.btn-1c
            %i.fa.fa-tasks.in_button
            Pending
        = link_to completed_tasks_path do
          %button.btn.btn-1.btn-1c
            %i.fa.fa-archive.in_button
            Completed
