- provide(:title, 'Tasks')
= render 'task_header'

.row#tasks
  .col-md-2
    %h2 Pending Tasks
  .col-md-6
  .col-md-4
    .task-actions
      %button.btn.btn-default.btn-lg
        %i.fa.fa-plus.in_button
        = link_to 'New', new_task_path, remote: true

.row#task-form{ style: 'display:none;' }

.row#sort-tasks
  = render 'index'
