- provide(:title, 'Tasks')
= render 'task_header'

%section#tasks
  %h2.task_heading Pending Tasks
  = render partial: 'form', locals: { task: @new_task }

%section#sort_tasks
  %ul#task_list
    = render @tasks
