- provide(:title, 'Tasks')
= render 'task_header'

%section#tasks
  %h2.task_heading Pending Tasks
  = render partial: 'form', locals: { task: @new_task }

%section.tasks
  %h3 Overdue
  %ul.task_list
  - @overdue.each do |overdue|
    %li= overdue.description
    %li= overdue.deadline

%section.tasks
  %h3 No Deadline
  %ul.task_list
    %li h

