#sliders
  %table
    %tr
      %td Alpha Angle
      %td
        %input#R0{max: '45', min: '0', type: 'range', value: '15'}
        %span#R0-value.value
    %tr
      %td Beta Angle
      %td
        %input#R1{max: '45', min: '0', type: 'range', value: '15'}
        %span#R1-value.value
