:coffeescript
  $ ->
    $('#active-vs-inactive').highcharts
      chart:
        plotBackgroundColor: null
        plotBorderWidth: 0
        plotShadow: false

      title:
        text: 'Active<br>vs<br>Inactive'
        align: 'center'
        verticalAlign: 'middle'
        y: 50

      tooltip:
        pointFormat: '{point.percentage:.1f}%'

      plotOptions:
        pie:
          dataLabels:
            enabled: true
            distance: -50
            style:
              fontWeight: 'bold'
              color: 'white'
              textShadow: '0px 1px 2px black'

          startAngle: -90
          endAngle: 90
          center: ['50%', '75%']

      series: [
        type: 'pie'
        name: 'Browser share'
        innerSize: '50%'
        data: [['Active', #{@accounts.active_total}]
          ['Inactive', #{@accounts.inactive_total}]]
      ]
