:coffeescript
  $ ->
    $('#active-vs-inactive').highcharts
      chart:
        plotBackgroundColor: null
        plotBorderWidth: 0
        plotShadow: false

      title:
        text: '<br>All Accounts'
        align: 'center'
        verticalAlign: 'middle'
        y: 0

      tooltip:
        pointFormat: '{point.percentage:.1f}%'

      plotOptions:
        pie:
          dataLabels:
            enabled: true
            distance: -40
            style:
              fontWeight: 'bold'
              color: 'white'
              textShadow: '0px 1px 2px black'

          startAngle: -90
          endAngle: 90
          center: ['50%', '50%']

      series: [
        type: 'pie'
        name: 'Browser share'
        innerSize: '50%'
        data: [['Active', #{@accounts.active_total}],
              {
                name: 'Inactive',
                y: #{@accounts.inactive_total},
                color: '#FF0000'
              }
        ]
      ]
