- content_for :page_header do
  %h1 Users

  %nav
    
    %ul
      %li.logged-in= logged_in_format(@user)
      %li
        - admins_only do
          = link_to admin_root_path do
            %button.header-btn.btn-1.btn-1c= icon('eye', 'Admin')
