- content_for :page_header do
  %h1 Users

  %nav
    
    %ul
      %li
        - if current_user.admin?
          = link_to admin_root_path do
            %button.header-btn.btn-1.btn-1c= icon('eye', 'Admin')
      %li
        = link_to stats_user_path(current_user) do
          %button.header-btn.btn-1.btn-1c= icon('bar-chart-o', 'Stats')
