- content_for :page_header do
  %h1 Account

  %nav
    %ul
      %li
        = link_to '#' do
          %button.btn.btn-1.btn-1c
            %i.fa.fa-sign-in.in_button
            Sign In
        = link_to '#' do
          %button.btn.btn-1.btn-1c
            %i.fa.fa-plus.in_button
            New Account
