%ul.text-right
  %li
    = link_to url: url, format: 'csv' do
      %button.btn.btn-default= icon('table', 'CSV')
  %li
    = link_to url: url, format: 'pdf' do
      %button.btn.btn-default= icon('file-pdf-o', 'PDF')
