%ul.text-right
  %li
    = link_to url: url, format: 'csv' do
      %button.btn.btn-default
        %i.fa.fa-table.in_button
        CSV
  %li
    = link_to url: url, format: 'pdf' do
      %button.btn.btn-default
        %i.fa.fa-table.in_button
        PDF
