.panel.panel-default.panel-borderless
  .panel-heading
    Phone Book
    = link_to 'edit', '#', class: 'edit-panel', id: 'pb-panel'
  
  = render 'shared/phone_table',     klass: klass
  = render 'shared/phone_book_edit', klass: klass
