.panel.panel-default.panel-borderless
  .panel-heading
    Social Media
    = link_to 'edit', '#', class: 'edit-panel', id: 'sm-panel'

  = render 'shared/social_media_table', klass: klass
  = render 'shared/social_media_edit',  klass: klass
