%section#edit-sm-form{ style: 'display:none;' }
  = simple_form_for klass do |f|
    = f.simple_fields_for :social_media do |builder|
      = render 'shared/social_media_form', builder: builder
    %p.text-right
      %button.btn.btn-default#close-sm Close
      = f.button :submit, 'Update Social Media', class: 'btn-default'
