- provide(:title, 'Home')
= render 'event_header'

.row#event-calendar
  .col-md-7#calendar
  .col-md-5

.row
  .modal.fade#event-modal(tabindex="-1" aria-labelledby="myModalLabel"
    aria-hidden="true")

= javascript_include_tag 'datetimepicker'
