%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header#contact-header
      %p.navbar-text.navbar-left= @contact.contact_name.upcase
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          - if policy(@contact).destroy?
            = link_to 'Delete', @contact, method: :delete,
              data: { confirm: 'Are you sure?' }, id: 'delete-link'
