%nav.navbar.navbar-inverse#contact-subnav
  .container-fluid
    .navbar-header#contact-header
      %p.navbar-text.navbar-left= @contact.name.upcase
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to 'Delete', @contact, method: :delete,
            data: { confirm: 'Are you sure?' }, id: 'delete-link'
