- provide(:title, 'Contacts')
= render 'contact_header'

.col-md-10
  .panel.panel-default
    .panel-heading
      Contacts
    .panel-body
      %ul.text-right
        %li
          = link_to contacts_path(format: 'csv') do
            %button.btn.btn-default
              %i.fa.fa-table.in_button
              CSV
        %li
          = link_to contacts_path(format: 'pdf') do
            %button.btn.btn-default
              %i.fa.fa-table.in_button
              PDF

    %table.table.table-hover
      %thead
        %tr
          %th{scope: "col"} Contact Name
          %th{scope: "col"} Company
          %th{scope: "col"} Email
          %th{scope: "col"} Office Phone
          %th{scope: "col"} Mobile Phone
          %th{scope: "col"} Actions
      %tbody
        = render @contacts
