- provide(:title, 'Contacts')
= render 'contact_header'

%table
  %thead
    %tr
      %th{scope: "col"} Contact Name
      %th{scope: "col"} Company
      %th{scope: "col"} Email
      %th{scope: "col"} Office Phone
      %th{scope: "col"} Mobile Phone
      %th{scope: "col"} Actions
  %tbody
    = render @contacts
