- provide(:title, 'Projects')
= render 'project_header'

%table.table.table-striped
  %thead
    %tr
      %th{scope: 'col'} Project Name
      %th{scope: 'col'} Website
      %th{scope: 'col'} Employer
      %th{scope: 'col'} Actions
  %tbody
    = render @projects
