<% provide(:title, 'Projects Index') %>

<header class="section_header">
  <h1>Index <small class="header_right">Projects</small></h1>
</header>

<%= link_to "New Project", new_project_path %>

<ul>
	<% @projects.each do |project| %>
		<li><%= link_to project.name, project %></li>
	<% end %>
</ul>
