<% provide(:title, 'New Project') %>

<% content_for :section_header do %>
  <h1>New <small class="header_right">Projects</small></h1>
<% end %>

<h2 id="form_title">New Project</h2>
<p>* Fields Required</p>
<p>Dates must have Month, Day, and Year to be saved</p>
<%= render 'form' %>
