<% provide(:title, 'New Project') %>

<% content_for :page_header do %>
  <h1>New <small class="header_right">Projects</small></h1>
<% end %>

<details class="form_info">
  <ul>
    <li>* Fields Required</li>
    <li>* Dates must have Month, Day, and Year to be saved</li>
  </ul>
</details>
<%= render 'form' %>
