%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header#contact-header
      %p.navbar-text.navbar-left= klass.name.upcase
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to_if(policy(klass).destroy?, 'Delete', klass,
            method: :delete, data: { confirm: 'Are you sure?' },
            id: 'delete-link')
