/*
 *= require_self
 *= require layout
 *= require borders
 *= require header
 *= require forms
 *= require tables
 *= require fullcalendar
 *= require events
 *= require buttons
 *= require notifications 
 *= require profiles
 *= require tasks
 *= require main_pages
 *= require font-awesome
 *= require other
 *= require fullcalendar_engine/application
*/

$link-color: #00A1CB;
$btn-default-bg: #00A1CB;
$btn-default-color: white;
$table-border-color: black;
$panel-default-heading-bg: #00A1CB;
$panel-default-text: white;
$table-bg-hover: #D9EDF7;
$list-group-border: black;

ul li a { text-decoration: none; }

li { list-style-type: none; }

@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.container {
  width: 100%;
  padding: 0;
}
