@import 'jquery.ui.all';
@import 'fullcalendar';
@import 'layout';
@import 'font-awesome';
@import 'fonts';
@import 'borders';
@import 'header';
@import 'forms';
@import 'tables';
@import 'buttons';
@import 'notifications';
@import 'tasks';
@import 'datetimepicker';
@import 'modal';
@import 'main_pages';
@import 'other';

$link-color: #00A1CB;
$btn-default-bg: #00A1CB;
$btn-default-color: white;
$table-border-color: black;
$panel-default-heading-bg: #00A1CB;
$panel-default-text: white;
$table-bg-hover: #D9EDF7;
$list-group-border: black;

@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.container-fluid { padding: 0; }

.panel-borderless { border: none; }
