@font-face {
  font-family: 'abeezeeregular';
  src: url('abeezee/abeezee-regular-webfont.eot');
  src: url('abeezee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('abeezee/abeezee-regular-webfont.woff') format('woff'),
    url('abeezee/abeezee-regular-webfont.ttf') format('truetype'),
    url('abeezee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
  font-family: 'varelaregular';
  src: url('varela/varela-regular-webfont.eot');
  src: url('varela/varela-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('varela/varela-regular-webfont.woff') format('woff'),
    url('varela/varela-regular-webfont.ttf') format('truetype'),
    url('varela/varela-regular-webfont.svg#varelaregular') format('svg');
    font-weight: normal;
    font-style: normal; }
