@import 'variables'

input.btn
  background-color: $blue-theme
  color: white

.btn-update-contact
  float: right

section .button_center
  padding-top: 10px

  p
    height: 75px
    text-align: center

abbr[title]
  border-bottom: none

label
  display: block
  width: 150px
  margin: 0px 0px 5px
  float: left
  padding-right: 10px
  text-align: left

#file
  height: 30px
  font-size: 14px
  background: $background-color
  border: none
  box-shadow: none

select
  width: 150px
  height: 24px
  padding: 3px 3px 3px 5px
  margin-bottom: 16px
  margin-right: 6px
  margin-top: 2px
  border: 1px solid #DADADA
  outline: 0 none

textarea
  width: 500px
  height: 100px

.new-contact
  padding-right: 100px
