form {
  margin: 0 auto;
  width: 1000px;
  display: block;
}

fieldset#new_project {
  display: block;
  float: left;
  min-height: 410px;
  min-width: 30em;
  margin: 10px auto;
  padding: 5px;
  font-size: 0.9em;
}

fieldset label {
	display: block;
}

fieldset li {
  padding: 5px 5px;
}

fieldset.radio label,
fieldset li.radio label {
	display: inline;
  padding: 5px 5px;
}

h2#form_title {
	text-align: center;
}

ul#new_project li {
	display: inline-block;
	padding: 40px;
}