@import 'variables'

input.btn
  background-color: $blue-theme
  color: white

#btn-index-show
  background-color: #5CB85C
  color: white

.form-action-inline
  display: inline-block
  float: right

.new-contact
  padding-right: 100px

#assignment-form
  padding-top: 100px
