/* universal */

form {
  padding-top: 10px;
  padding-left: 40px;
}

button, input, select, textarea { margin: 5px; }

input { font-size: 13px; }

label { padding-left: 5px; }

textarea { font-size: 13px; }

/* form */

form#new_project {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}

/* fieldset */

fieldset.projects {
  margin: 0;
  width: 500px;
  border: 1.5px solid;

  label {
    display: block;
  }
}

fieldset.projects#new_details {
  textarea { width: 450px; }
  ul {
    &.flex_details {
      display: flex;
      display: -webkit-flex;
      -webkit-flex-flow: row wrap;
      padding: 0;
      margin: 0;

      li {
        &.details_item {
          padding: 5px;
          height: 100px;
          width: 300px;
          margin-top: 10px;
          justify-content: space-around;
        }
          input { width: 300px; }
        &.details_radio { padding-left: 50px; }
      }
    }
  }
}

fieldset.projects#dates {
  width: 200px;
  ul {
    &.flex_dates {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0 30px;
      margin: 0;
      width: 350px;

      li {
        padding-top: 5px;
          label { text-align: center; }
          input {
            width: 100px;
            text-align: center;
        }
      }    
    }
  }
}

/* other */

span {
  &#project_submit {
    margin-left: 200px;
  }
}

details.form_info.required { padding-left: 40px; }
