/* universal */

body {
	background-color: #EAEAEA;
}

a {
	color: #005596;
}

li {
	list-style-type: none;
}

div.container {
  overflow: hidden;
  padding: 0 20px;
}

/* header */

header#page_header {
  background: #725748;
  overflow: hidden;
  border-bottom: 15px solid #000000;
}
