/* universal */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #005596;
}

li {
  list-style-type: none;
}

#page_wrapper {
  min-height: 100%;
  position: relative;
}

/* side menu */

#side_menu {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  bottom: 0;
  width: 80px;
  height: 100%;
  background: #201F1F;
}

/* side nav */

#side_nav {
  position: absolute;
  left: 80px;
  top: 0;
  padding: 5px;
  bottom: 0;
  width: 125px;
  height: 100%;
  border-left: 1px solid #555555;
  background-color: #2B2B2B; 
}

/* content */

#content {
  position: absolute;
  display: block;
  left: 215px;
  right: 0;
  top: 0;
  padding: 5px;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}
