/* universal */

body {
	background-color: #EAEAEA;
}

a {
	color: #005596;
}

li {
	list-style-type: none;
}

div.container {
  overflow: hidden;
}

/* header */

header#page_header {
  background: #000;
  overflow: hidden;
  border-bottom: 3px solid #FFF;

  a img {
    float: right;
  }
}

/* body */

section#content {
  margin-left: 300px;
  padding: 0 20px;
  display: block;
  width: 900px;
}

/* sidebar */

section#sidebar {
  position: absolute;
  left: 0px;
  width: 75px;
  height: 100%;
}

/* sidenav */

section#sidenav {
  position: absolute;
  left: 75px;
  width: 150px;
  height: 100%;
  border-left: 1px solid #555555;
}