p#license_title,
p#license_version,
p#license_terms { text-align: center; }

p#license_title,
p#license_version { line-height: 10%; }

p#license_title,
p#license_terms { font-weight: bold; }

section#license {
  float: left;
  max-width: 800px;
}
