.flash {
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
}

#notice {
    background: #A4E7A0;
    border: solid 4px #26722D;
}

#alert {
    background: #FF6565;
    border: solid 4px #900;
}