.flash {
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
}

#notice {
    background: #85FF00;
    color: black;
}

#alert {
    background: #FF6565;
    border: solid 4px #900;
}