@import 'variables';

body {
  font-family: $content-font;
  background-color: $background-color;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}
