@import "style";

#page_header {
  background: $blue-theme;
  color: white;

  h1 {
    position: absolute;
    left: 500px;

    small.header_right {
      position: absolute;
      left: 600px;
      top: 24px;
    }
  }
}