section#project_dates {
  background: #91C5D4;
  margin-right: 50px;
  max-width: 1000px;
}

section.date_block {
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 20px;
  width: 150px;
}

section#project_name {
  padding-right: 35px;
  padding-bottom: 10px;
}
