.section_header {
  background: #00A1CB;
  color: #FFF;

  h2 {
    position: absolute;
    left: 250px;

    small.header_right {
      position: absolute;
      left: 600px;
      top: 24px;
    }
  }
}