#side_menu {
  background: #171717;
  
  h1 {
    padding-top: 50px;
    text-align: center;
    color: #00A1CB;
  }
}

nav#side_menu {
  font-size: 14px;
}

ul#side_menu_list {
  list-style-type: none;
  padding: 5px;
  color: #FFF;

  li {
    margin-bottom: 10px;
  }
}
