@import "style";

#sidenav {
  background: $black-theme;
  
  h1 {
    padding-top: 50px;
    color: $blue-theme;
  }
}

ul#sidenav_list {
  padding: 5px;
  color: white;

  li {
    margin-bottom: 10px;

    .button {
      width: 180px;
    }
  }
}

#license {
  float: right;
  padding-right: 5px;
}
