#side_menu {
  background: #171717;
  
  h1 {
    padding-top: 50px;
    color: #00A1CB;
  }
}

ul#side_menu_list {
  padding: 5px;
  color: white;

  li {
    margin-bottom: 10px;

    .button {
      width: 180px;
    }
  }
}
