#side_menu {
  background: #201F1F;
}

nav#side_menu {
  font-size: 14px;
}

ul#side_menu_list {
  list-style-type: none;
  padding: 5px;
  text-align: center;
  color: #FFF;

  li {
    margin-bottom: 10px;

    span {
    text-align: center;
    }
  }
}
