.panel-borderless { border: none; }

.panel-right {
  float: right;
}

#ci-panel,
#pb-panel,
#sm-panel {
  color: white;
}

ul.panel-right li {
  padding-right: 10px;
  font-size: 1.2em;
  font-weight: 700;
}
