table, td, tr, th {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 90%;
}

table td,
table th {
  padding: 5px;
  border: 1px solid #FFF;
  border-width: 0 1px 1px 0;
}

thead th {
  background: #91C5D4;
}

thead th[colspan],
thead th[rowspan] {
  background: #66A9bd;
}

tbody th {
  background: #91C5D4;
}


tbody tr {
  background: #D5EAF0;
}

tbody tr:hover {
  background: #BCD9E1;
}

tbody a {
  color: #000;
}