h2.task_heading
  border-bottom: 1px solid black

section#sort_tasks
  section
    display: inline-block
    width: 100%

    h3
      padding-left: 75px
      border-bottom: 1px solid black

    ul li
      padding-left: 75px
