.task-actions,
#new-task,
#completed-datetime
  float: right

.task-actions
  display: inline-block
  float: right

  a
    color: white
    text-decoration: none

#task-form
  padding-bottom: 25px

.task-form-row
  padding-left: 50px

#task-inline-input
  width: 460px

.task-description
  font-size: 1.5em

#task-submit
  padding-top: 15px

#sub-task-info
  display: inline-block

#task-completed
  color: white
  float: right
  