/* mixins, variables, etc. */

$heading-font: 'abeezeeregular', 'Verdana', 'Helvetica', 'Arial', 'sans-serif';
$content-font: 'varela', 'Verdana', 'Helvetica', 'Arial', 'sans-serif';

/* universal */

body { font-family: $content-font; }

label {
  font-size: 13px;
  font-weight: bold;
}

h2.center {
  text-align: center;
}

/* sidenav */

#sidenav {
  font-family: $heading-font;

  h1 {
    font-size: 36px;
    text-align: center;
  }
}

nav#side_menu { font-size: 14px; }

/* page header */

header#page_header {
  font-family: $heading-font;

  h1 {
    font-size: 36px;
    font-weight: bold;

    small.header_right {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

/* forms */

details.form_info {
  font-size: 12px;
  font-weight: bold;
}

details.form_info#date { text-align: center; }

legend.bold_title { font-weight: bold; }

/* tables */

tbody th { text-align: left; }

tbody td { text-align: center; }

tbody a { text-decoration: none; }

table, td, tr, th { font-weight: normal; }

table { font-size: 13px;}

th.bold_name a { font-weight: bold; }

td.table_actions {
  font-size: 11px;
  font-weight: bold;
}

/* other */

h3#project_images { font-size: 22px; }
