$heading-font: 'abeezeeregular', 'Verdana', 'Helvetica', 'Arial', 'sans-serif';
$content-font: 'varela', 'Verdana', 'Helvetica', 'Arial', 'sans-serif';

body {
  font-family: $content-font;
}

#sidenav {
  font-family: $heading-font;

  h1 {
    font-size: 36px;
    text-align: center;
  }
}

.section_header {
  font-family: $heading-font;

  h1 {
    font-size: 36px;
    font-weight: bold;

    small.header_right {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

nav#side_menu {
  font-size: 14px;
}

/* forms */

details.form_info {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

legend.bold_title {
  font-weight: bold;
}

/* tables */

table, td, tr, th {
  font-weight: normal;
}

tbody th {
  text-align: left;
}

tbody td {
  text-align: center;
}

tbody a {
  text-decoration: none;
}

th.bold_name a {
  font-weight: bold;
}

h2#form_title {
  text-align: center;
}
