- provide(:title, 'Admin - Users')
= render 'user_header'

.col-md-10
  .panel.panel-default
    .panel-heading Users

    %table.table.table-hover
      %thead
        %tr
          %th{ scope: 'col' } Id
          %th{ scope: 'col' } Handle
          %th{ scope: 'col' } Admin
          %th{ scope: 'col' } First Name
          %th{ scope: 'col' } Last Name
          %th{ scope: 'col' } Created At
          %th{ scope: 'col' } Last Updated
          %th{ scope: 'col' } Actions
      %tbody= render @users
