<ul id="side_menu_list">
  <li>
    <%= link_to(
          image_tag("icons/home_icon.png",
                    alt: "Home"),
          root_url) %><br />
    <span>Home</span>
  </li>
  <li>
    <%= link_to(
          image_tag("icons/folder_icon.png",
                    alt: "Projects"),
          projects_url) %>
    <span>Projects</span>
  </li>
</ul>