<h1>Harmonize</h1>

<ul id="side_menu_list">
  <li>
    <%= link_to "Home", root_path, 
    class: "side-button button-pill button-flat-primary" %>
  </li>
  <li>
    <%= link_to "Projects", projects_path,
    class: "side-button button-pill button-flat-primary" %>
  </li>
</ul>