%h1
  Harmonize

%ul#sidenav_list
  %li
    = link_to 'Dashboard', root_path,
      class: 'button button-pill button-flat-primary'
  %li
    = link_to 'Projects', projects_path,
      class: 'button button-pill button-flat-primary'
  %li
    = link_to 'Contacts', contacts_path,
      class: 'button button-pill button-flat-primary'
  %li
    = link_to 'Events', events_path,
      class: 'button button-pill button-flat-primary'
