- provide(:title, 'Accounts')
= render 'account_header'

.col-md-10
  .panel.panel-default
    .panel-heading
      Accounts
    .panel-body
      %ul.text-right
        %li
          = link_to accounts_path(format: 'csv') do
            %button.btn.btn-default
              %i.fa.fa-table.in_button
              CSV
        %li
          = link_to accounts_path(format: 'pdf') do
            %button.btn.btn-default
              %i.fa.fa-table.in_button
              PDF

    %table.table.table-hover
      %thead
        %tr
          %th{scope: "col"} Account
          %th{scope: "col"} Website
          %th{scope: "col"} Email
          %th{scope: "col"} Office Phone
          %th{scope: "col"} Fax
          %th{scope: "col"} Actions
      %tbody
        = render @accounts
